<aside class="admin-sidebar">
  <nav>
    <ul>
      <li><a href="#" class="active"><i data-lucide="users"></i> Users</a></li>
      <li><a href="#"><i data-lucide="file-text"></i> Posts</a></li>
      <li><a href="#"><i data-lucide="message-square"></i> Comments</a></li>
      <li><a href="#"><i data-lucide="settings"></i> Settings</a></li>
    </ul>
  </nav>
</aside>
